@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext");

html {
  font-family: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
}

#map {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px;
}

.display-job {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 5px;
  margin-top: 15px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
}

.display-homepage{
    color: #BD4257;
}

.display-job:hover {
  border: 3px solid #ce0f69;
}

.display-job:focus {
  outline: none;
}

.heatMap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.heatMap button {
  width: 60%;
  height: 50px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: orange;
  font-weight: bold;
}

.heatMap button:hover {
  background-color: red;
  color: white;
}

.display-google-maps {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 40%;
  display: flex;
  height: 70%;
  height: auto;

  margin-top: 10px;
}

.displayIndex {
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  height: 30%;
  height: auto;
  border: green 3px solid;
}

.city-filter-input {
  padding-top: 45px;
  padding-left: 50px;
  float: right;
}

.jobTitle {
  height: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.submit-button {
  float: right;
  color: white;
  background-color: green;
  outline: none;
  padding: 10px 20px;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  border: white 2px solid;
}

.submit-button:hover {
  opacity: 70%;
}

.submit-button:focus {
  outline: none;
}

.job-type-input {
  padding-top: 40px;
  padding-left: 50px;
  float: left;
}

#job-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40%;
  display: flex;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 0;
}

.job-type-input select {
  background-color: white;
  color: rgb(111, 115, 113);
  padding: 12px;
  width: 150px;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.job-type-input select option {
  padding: 30px;
}

.job-type-input select:focus {
  border: 5px solid rgb(111, 115, 113);
  outline: none;
  color: black;
}
.submit-button {
  float: right;
}

.jobTitle {
  display: flex;
  width: 100%;
}

img {
  width: 110px;
  height: 110px;
  border-radius: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
  color: white;
}

.description {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  border: white solid 5px;
  border-radius: 15px;
  color: black;
  width: 100%;
  background-color: #bdbdb4;
  height: auto;
}

.description p {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}

.descriptionPartner {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  border: white solid 5px;
  border-radius: 15px;
  color: black;
  width: 100%;
  background-color: #bdbdb4;
  height: auto;
}

.descriptionPartner p {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  border: white solid 3px;
  border-radius: 15px;
  color: black;
  background-color: lightblue;
  font: bold;
  height: auto;
}

.container2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.searchTerm {
  margin-left: 10px;
  width: 300px;
  border: 2px solid #bdbdb4;
  padding: 5px;
  border-radius: 10px;
  color: black;
}
.logoutbutton:hover{
    cursor: pointer;
}

.searchTerm:focus {
  border: 5px solid rgb(111, 115, 113);
  outline: none;
  color: black;
}

.searchButton {
  width: 40px;
  height: 40px;
  background-color: white;
  margin-left: 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.searchButton:focus {
  outline: none;
}

.fa-search {
  color: black;
}

.searchButton:hover {
  background-color: #bdbdb4;
}
.searchButton:hover .fa-search {
  color: white;
}

/*Resize the wrap to see the search bar change!*/

#clinicHandler {
  padding: 50px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.valeurIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
  font-size: 25px;
}

.apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  background-color: white;
  margin: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 5px 5px 5px #888888;
}

.apply:hover {
  opacity: 50%;
  text-decoration: none;
  background-color: #e74c3c;
  color: white;
}

.displayDescriptionPlusIndex {
  display: flex;
  justify-content: center;
  width: 50%;
  border-radius: 10px;
  margin: 5px;
}

#divIndexes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 215px;
  margin-top: 20px;
  width: 100%;
  overflow-y: auto;
  background-color: lightblue;
  border: 3px solid black;
  border-radius: 10px;
}

.indexesContainer {
  width: 80%;
  margin-top: 10px;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexContainer {
  width: 100%;
  height: auto;
  display: flex;
}

.indexNameContainer {
  width: 70%;
  color: black;
  background-color: lightblue;
  margin: 5px;
  font-weight: bold;
}

.indexValueContainer {
  display: flex;
  border: 3px solid white;
  border-radius: 10px;
  margin: 5px;
  background-color: black;
  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  margin: 5px;
}

.inputEditClass {
  width: 300px;
  height: auto;
}

.addingClinicButton {
  width: 200px;
  border-radius: 10px;
  font-weight: bold;
  color: #BD4257;
  background-color: white;
  border-width: 2px;
  padding: 10px;
  margin: 20px;
}
.addingClinicButton:hover {
  background-color:  #effcfc;
}

.modifyingClinicContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.labelClass {
  margin-right: 20px;
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  width: 30%;
  height: 30%;
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login input {
  margin: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
}

.login label {
  text-align: center;
  font-weight: bold;
}

.login div {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.login button {
  width: 200px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-top: 10px;
  transition: 0.15s;
  border: #ce0f69;
  background-color: #ce0f69;
  outline: none;
}

.login button:hover {
  transform: scale(1.05);
}

.headerContainer {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.headerContainer h1 {
  width: auto;
  margin-right: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  font-size: 40px;
}

.headerActions {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.headerType {
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.headerSearch {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#AddClinicButton {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px;
  margin-left: 10px;
  width: 20%;
}

#AddClinicButton:hover {
  background-color: #bdbdb4;
  color: white;
}

.typeText {
  text-align: start;
  font-size: 15px;
  font-weight: bold;
}

.clinicInfo {
  word-wrap: normal;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 300px;
  width: 300px;
}

.textInformation {
  padding: 20px;
  width: 90%;
  margin-top: 20px;
  height: auto;
  display: none;
  white-space: pre-wrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  flex-direction: column;
  width: 50%;
  margin: 20px;
}

.formContainer h1 {
  padding: 15px;
  margin: 0;
}

.inputContainer input {
  margin: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid black;
}

.inputContainer label {
  text-align: center;
  font-weight: bold;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputContainer div {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 50%;
  align-items: center;

  flex-direction: row;
}

.typeWrapper {
  padding: 10px;
  width: 65%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.typeContainer {
  display: grid;
  grid-template-columns: 30% 98%;
}
.typeContainer label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceType {
  font-weight: bold;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer textarea {
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  border: 1px solid black;
  word-wrap: break-word;
  width: 100%;
  height: 200px;
}

.inputContainer select {
  width: 90%;
  margin: 10px;
  height: 28px;
  border-radius: 5px;
}

.inputContainer textarea:focus {
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buttonContainer button {
  width: 200px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 20px;
  transition: 0.15s;
}

.buttonContainer button:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.56);
  transform: scale(1.05);
}

.addButton {
  background-color: green;
  border: 1px solid green;
}
.editButton {
  background-color: rgb(255, 202, 103);
  border: 1px solid rgb(255, 202, 103);
}
.deleteButton {
  background-color: rgb(241, 71, 65);
  border: 1px solid rgb(241, 71, 65);
}

.backButton {
  height: auto;
  background-color: #5f6de9;
  border: 1px solid #5f6de9;
}

#filter {
  border-radius: 10px;
  width: 271px;
  height: 38px;
  border: 2px solid #bdbdb4;
}

.myNavbar {
  color: black;
  margin: auto;
  width: 40%;
}

.linkContainer {
  display: grid;
  padding-top: 10px;
}

.linkContainer:nth-child(0) {
  place-items: center;
}

.linkContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 0;
  margin-top: 20px;
  height: 50px;
  box-shadow: rgba(73, 53, 53, 0.5) 0px 4px 6px -1px, rgba(0, 0, 0, 0.5) 0px 2px 4px -1px;
  border-radius: 5px;
}

.linkContainer .selected {
  font-weight: bold;
}

.myNavbar li {
  display: flex;
  height: 100%;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.myNavbar a {
  display: flex;
  height: 100%;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:black;
}

.myNavbar a:active {
  cursor: pointer;
}

.myNavbar li:hover {
  background-color: #effcfc;
  cursor: pointer;
}

.linkContainer h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 90px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  margin: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #effcfc;
  color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #effcfc;
  color: black;
}

.verticalBar {
  border-left: 1px solid black;
  height: 30px;
}

.longVerticalBar {
  border-left: 1px solid black;
  height: 500px;
}

.appTitle {
  padding-left: 50px;
  padding-top: 15px;
}

.appLogo {
  margin-left: 20px;
  width: 60px;
  height: 60px;
}

.eventName {
  width: 100%;
  display: inline;
  padding: 10px;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

.eventDate {
  padding: 10px;
  margin: 0px;
  font-weight: bold;
}

.acceptButton {
  background-color: #BD4257;
  color: white;
  border-radius: 10px;
  border-width: 0px;
  border-width: 1px;
}

.cancelButton {
  background-color: white;
  color: black;
  border-radius: 10px;
  border-width: 1px;
}

.loginButton {
  margin: 10px;
  margin-right: 10px;
}

.signUpBox {
  margin: auto;
  width: min-content;
  padding: 20px;
  margin-top: 20px;
  border:1px solid black;
  border-radius: 5px;
}